/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mb-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  width: 100%;
}

.text-align {
  text-align: center;
}

.display-flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}

.margin-button {
  margin-left: 15rem;
  margin-right: 15rem;
}

.justify-start {
  justify-content: flex-start !important;
}
